{% extends 'hira/layout.html' %}

{% block body %}

<h2>Edit Profile</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>User Information</h3>
    {{ user_form.as_p }}
    <h3>General Profile Information</h3>
    {{ profile_form.as_p }}
    <h3>{% if user.user_type == 'teacher' %}Teacher{% else %}Student{% endif %} Specific Information</h3>
    {{ specific_form.as_p }}
    <button type="submit" class="btn btn-primary">Update Profile</button>
</form>
{% endblock %}