{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}HiraLearn{% endblock %}</title>
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

        <link href="{% static '/css/styles.css' %}" rel="stylesheet">
      
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        
        <script src="{% static '/js/script.js' %}" defer></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body class="flex flex-col min-h-screen">
        <header class="sticky left-0 right-0 bg-gray-800 text-white z-50 navbar-glow">
            <nav class="container mx-auto px-4 py-4 flex items-center justify-between">
                <div class="flex items-center space-x-4">
                    <a href="{% url 'index' %}" class="text-xl font-bold">
                        <i class="fa-solid fa-shapes white-icon"></i> HiraLearn
                    </a>
                    
                    
                </div>
                <div class="hidden md:flex items-center space-x-4">
                    {% if user.is_authenticated %}
                        <span>Hello, {{ user.username }}!</span>
                        <a href="{% url 'home' %}" class="hover:text-gray-300">{% if user.is_teacher %}Teacher {% elif user.is_student %}Student {% endif %}Dashboard</a>
                        <form action="{% url 'logout' %}" method="post" class="inline">
                            {% csrf_token %}
                            <button type="submit" class="hover:text-gray-300">Logout</button>
                        </form>
                    {% else %}
                        <a href="{% url 'login' %}" class="hover:text-gray-300">Login</a>
                        <a href="{% url 'signup' %}" class="hover:text-gray-300">Sign Up</a>
                    {% endif %}
                </div>
                <button class="md:hidden hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
            </nav>
            <div class="mobile-menu md:hidden">
                {% if user.is_authenticated %}
                    <span class="block py-2 px-4 text-sm">Hello, {{ user.username }}!</span>
                    <a href="{% url 'home' %}" class="block py-2 px-4 text-sm hover:bg-gray-700">{% if user.is_teacher %}Teacher {% elif user.is_student %}Student {% endif %}Dashboard</a>
                    <form action="{% url 'logout' %}" method="post" class="block py-2 px-4">
                        {% csrf_token %}
                        <button type="submit" class="text-sm hover:text-gray-300">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="block py-2 px-4 text-sm hover:bg-gray-700">Login</a>
                    <a href="{% url 'signup' %}" class="block py-2 px-4 text-sm hover:bg-gray-700">Sign Up</a>
                {% endif %}
            </div>
        </header>
        <main class="flex-grow">
            {% block body %}
            {% endblock %}
        </main>
        <div class="section-separator"></div>
        <footer class="bg-gray-800 text-white py-4">
            <div class="container mx-auto px-4 text-center">
                <p>&copy; 2024 HiraLearn. All rights reserved.</p>
            </div>
        </footer>
    </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</html>